:root {
    --primary-bg-color: #00ffff;
    --secondary-bg-color: #7fffd4;
    --tertiary-bg-color: #daa520;
    --fourth-bg-color: #52ff90;
    --fifth-bg-color: #1fd9bc;
    --sixth-bg-color: #361ab1;
    --seventh-bg-color: #4FE8C5;
    --eighth-bg-color: #077087;
    --ninth-bg-color: #1c92ad;
    --font-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --hover-box-shadow-color: rgba(0, 0, 0, 0.3);
    --transition-duration: 0.4s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: var(--font-color);
    padding: 40px;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: var(--font-color);
    margin-bottom: 20px;
    animation: fadeIn var(--transition-duration) ease-in-out;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: var(--font-color);
    margin: 20px 0;
    animation: fadeIn var(--transition-duration) ease-in-out;
}

.box-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box-style {
    width: calc(33% - 30px);
    height: 200px;
    margin: 15px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--box-shadow-color);
    transition: transform var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
    animation: fadeIn var(--transition-duration) ease-in-out;
}

.box-style:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px var(--hover-box-shadow-color);
}

.box-style span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    transition: color var(--transition-duration) ease;
}

.box-style span:hover {
    color: #f8f9fa;
}

.box-1 {
    background-color: var(--primary-bg-color);
}

.box-2 {
    background-color: var(--secondary-bg-color);
}

.box-3 {
    background-color: var(--tertiary-bg-color);
}

.box-4 {
    background-color: var(--fourth-bg-color);
}

.box-5 {
    background-color: var(--fifth-bg-color);
}

.box-6 {
    background-color: var(--sixth-bg-color);
}

.box-7 {
    background-color: var(--seventh-bg-color);
}

.box-8 {
    background-color: var(--eighth-bg-color);
}

.box-9 {
    background-color: var(--ninth-bg-color);
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0);}
}
