/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1f1f1f;
    color: #ccc;
    overflow-x: hidden;
    transition: opacity 0.8s ease-out;
}

body.fade-out {
    opacity: 0;
}

/* Eliminar barra de desplazamiento en navegadores WebKit */
body::-webkit-scrollbar {
    display: none;
}

/* Nav Bar */
.nav-bar {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0;
}

.nav-bar ul li {
    margin: 0 20px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.nav-bar ul li a:hover {
    background-color: #444;
    color: #ddd;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 60px;
    position: relative;
    background: url('src/img/hero-bg.jpg') no-repeat center center/cover;
}

.hero-image img {
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hero-content {
    color: #fff;
    text-align: center;
    
}

.hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.2em;
    margin-top: 0;
}

/* Secciones */
section {
    padding: 60px 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    border-bottom: 3px solid #444;
    padding-bottom: 10px;
}

section p {
    color: #ddd;
    text-align: justify;
    line-height: 1.8;
}

/* Habilidades */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 20px;
}

#skills ul li {
    list-style: none;
    background: #3f3f3f;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 0 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    #skills ul li {
        flex: 1 0 30%;
    }
}

@media (max-width: 600px) {
    #skills ul li {
        flex: 1 0 45%;
    }
}

#skills ul li i {
    margin-right: 10px;
}

#skills ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Detalle de habilidades */
.skill-detail {
    display: none;
    background: #282A36;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

.skill-detail h3 {
    color: #E06C75;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.skill-detail p {
    color: #98C379;
    margin-bottom: 20px;
    line-height: 1.6;
}

.skill-detail code {
    display: block;
    background: #44475A;
    padding: 15px;
    border-radius: 8px;
    color: #ABB2BF;
    overflow-x: auto;
}

/* Proyectos */
#projects .project {
    background: #4f4f4f;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#projects .project:hover {
    background-color: #555;
    transform: translateY(-5px);
}

.view-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-more:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Contacto */
.containercontactos {
    margin-bottom: 100px;
}

.contact {
    text-align: center;
    padding: 40px 20px;
    background: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact p {
    color: #ddd;
}

.contact a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px 20px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
}

/* Animaciones */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(160, 0, 253); }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(187, 121, 0);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;
}

.circles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 4, 115, 0.8);
    border-radius: 50%;
    animation: float 9s linear infinite;
    pointer-events: none;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

